name: simple-three-Env
on:
   workflow_dispatch:
jobs:
    DEV:
       runs-on: ubuntu-latest
       environment: DEV
       env:
         DEMO: ${{secrets.MY_SECRET}}
       steps:
         - uses: actions/checkout@v2
         - name: Run a script
           run: |
             echo "i am running a job in DEV environment"
             echo "demo value is:${{env.DEMO}}" 


    QA:
      
       runs-on: ubuntu-latest
       environment: QA
       env:
         MSG: COMPLETED 
       needs: DEV
       steps:
         - uses: actions/checkout@v2
         - name: Run a script
           run: |
             echo "i am running a job in QA environment"
             echo "QA job  is:${{env.MSG}}"

    PROD:
       runs-on: ubuntu-latest
       environment: PROD
       env: 
        MSG: Approved
       needs: QA
       steps:
         - uses: actions/checkout@v2
         - name: Run a script
           run: |
             echo "i am running a job in QA environment"
             echo "QA job  is:${{needs.QA.env.steps.MSG}}"
             echo "PROD job  is:${{env.MSG}}"
